<!DOCTYPE html>
<html>
  <head>
    <title>Add Student</title>
    <style>
      label {
        display: block;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Add Student</h1>
    <form method="post" action="add_db_c">
      {% csrf_token %}
      <label for="id">ID:</label>
      <input type="number" name="id" id="id" required>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required>
      <label for="age">Duration:</label>
      <input type="number" name="duration" id="duration" required>
      <label for="name">Fees:</label>
      <input type="text" name="fees" id="fees" required>
      <input type="submit" value="Add Course">
    </form>
  </body>
</html>